<div id="homeBody">
    <div>
        <div class="homeHeader">
            <div>Ask or Answer !! Choose any category to continue...</div>
        </div>
        <div class="cardContainer">
            <div class="card" ng-click="domainBtnclick('Arts')">
                <img src="../images/arts.png" />
                <div class="domainHeader">
                    Arts
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbArts"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to Singing, dancing, martial arts etc
                </div>
            </div>
            <div class="card" ng-click="domainBtnclick('Automobiles')">
                <img src="../images/automobiles.png" />
                <div class="domainHeader">
                    Automobiles
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbAutomobiles"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to engines, cars, models etc
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Education')">
                <img src="../images/educational.png" />
                <div class="domainHeader">
                    Education
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbEducation"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to educational qualifications to pertain a job, etc
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Electrical Appliances')">
                <img src="../images/electricalappliances.png" />
                <div class="domainHeader">
                    Electrical Appliances
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbAppliances"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to home appliances, electrical appliances
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Entertainment')">
                <img src="../images/entertainment.png" />
                <div class="domainHeader">
                    Entertainment
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbEntertainment"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to movies, music, fun etc
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Fashion')">
                <img src="../images/fashion.png" />
                <div class="domainHeader">
                    Fashion
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbFashion"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to dresses, culture etc
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Food')">
                <img src="../images/foodrecipes.png" />
                <div class="domainHeader">
                    Food
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbFood"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to food recipes, restaurants etc
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Health')">
                <img src="../images/healthtips.png" />
                <div class="domainHeader">
                    Health
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbHealth"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to disease symptoms, remedies, doctors, hospitals
                </div>

            </div>
            <div class="card" ng-click="domainBtnclick('Information Tech')">
                <img src="../images/informationtechnology.png" />
                <div class="domainHeader">
                    Information Techn
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbInfoTech"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to various information technologies
                </div>
            </div>
            <div class="card" ng-click="domainBtnclick('Photography')">
                <img src="../images/photography.png" />
                <div class="domainHeader">
                    Photograhpy
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbPhoto"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to techniques in Photography
                </div>
            </div>
            <div class="card" ng-click="domainBtnclick('Smart Devices')">
                <img src="../images/smartdevices.png" />
                <div class="domainHeader">
                    Smart Devices
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbSDevices"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to Smart Devices such as Drones, IOT devices, smart home etc
                </div>
            </div>
            <div class="card" ng-click="domainBtnclick('Sports')">
                <img src="../images/sports.png" />
                <div class="domainHeader">
                    Sports
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbSports"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to all kinds of sports
                </div>
            </div>
            <div class="card" ng-click="domainBtnclick('Others')">
                <img src="../images/others.png" />
                <div class="domainHeader">
                    Others
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbOthers"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to other areas which are not there in above categories
                </div>
            </div>
            <div class="card" ng-click="domainBtnclick('Travel')">
                <img src="../images/travel.png" />
                <div class="domainHeader">
                    Travel
                </div>
                <!--<div class="progressBar">
                Answered Questions
                <div class="pbTravel"></div>
            </div>-->
                <div class="cardDescription">
                    Here, post or answer questions related to travel, destinations & transport options
                </div>
            </div>
        </div>
    </div>
</div>