<div class="loginbackground">
    <div id="signIn">
        <div class="loginHeader">
            <p>Please sign in to Proceed</p>
        </div>
        <div id="errorMessage" class="errorMessage">
            <p>An error occurred while authentication, please try again after sometime !!!</p>
        </div>
        <div class="loginBtnWrapper">
            <button class="loginBtn" ng-click="onSignIn()">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /><span>SignIn With Google</span>
            </button>
        </div>
    </div>
    <div id="signOut">
        <div class="loginBtnWrapper">
            <button class="loginBtn" ng-click="onSignOut()">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /><span>SignOut</span>
            </button>
        </div>
    </div>
</div>