body {
    font-family: sans-serif;
    margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@font-face {
    font-family: 'nevisbold';
    src: url('/fonts/nevis.ttf');
}

.homeHeader {
    margin-top: 4em;
    text-align: center;
    color: #1c6190;
    font-weight: bold;
}

.navbar {
    top: 0;
    left: 0;
    height: 3em;
    background-color: white;
    width: 100%;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 1px 3px #555;
    position: fixed;
    z-index: 1;
}

.navbar a {
    font-family: 'nevisbold';
    font-size: 1rem;
    color: gray;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    border-bottom-style: solid;
    border-bottom-color: #1c6190;
    color: #1c6190;
}

.searchText:hover, .searchText:active, .searchText:focus {
    border-bottom: solid;
    border-color: #1c6190;
}

.topnav-left {
    margin-left: 5px;
    float: left;
    margin-right: 5px;
}

.listBtn {
    display:none;
    margin-left: 1em;
    float: left;
}

.sidenavlist {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 5px;
}

.sidenavlist a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
}

.sidenavlist a:hover {
    color: #1c6190;
}

.logoBtn {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    float: left;
}

.listBtn:hover {
    cursor: pointer;
}

.listBtn img {
    width: 18px;
    height: 18px;
}

.topnav-right {
    color: white;
    float: right;
    margin-right: 1em;
}

.profileBtn{
    float: right;
    right: 0;
    position: fixed;
    margin-right: 0.1em;
}
.profileBtn img {
    max-width: 40px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.profileBtn:hover {
    cursor: pointer;
}

.profileBtn:hover, .profileBtn:active, .profileBtn:focus{
    border-bottom: none !important;
}

.searchBtnHolder {
    display: flex;
    margin-left: 2em;
    margin-top: 5em;
    background-color: #0a5384;
    background: none;
    margin-top: 5px;
}

.searchBtnHolder img {
    width: 38px;
    height: 38px;
    background-color: white
}

.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    border-radius: 0.2em;
}

.card img {
    width: 48px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.domain {
    float: left;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-left: 2em;
}

.domainBanner {
    box-shadow: 0px 1px 5px #555;
    background-color: #EEEEEE;
    overflow: hidden;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.domainAnswerBanner {
    margin-top: 3em;
    position: relative;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 2.5em;
    width: 100%;
    z-index: auto;
}

.domainAnswerBanner img {
    float: left;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 1em;
    margin-top: 0.5em;
    border-radius: 50%;
}

.questionDetail {
    margin: 1em;
}

.answerDetail {
    margin: 2em;
    color: white;
}

.seperator {
    border-bottom-width: 0.2em;
    border-bottom-style: groove;
    width: 100%;
}

.questionDetailBy {
    float: left;
    color: #999;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.rightArrow{
    position: absolute;
    top: 30%;
    right: 0px;
}

.rightArrow img{
    width: 23px;
    height: 23px;
}

.questionDetailTime {
    color: #999;
    font-size: 0.8em;
    position: absolute;
    top: 0px;
    margin-top: 1.5em;
    margin-right: 3em;
    right: 0px;
}

.domainDropdownHolder {
        margin-left: 1em;
        margin-top: 4em;
        overflow: hidden;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'nevisbold';
        font-size: 1rem;
}

.domainDropdown {
    margin-left: 1em;
    background-color: none;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    color: #1c6190;
    border: 1px solid #1c6190;
    font-size: 1em;
    height: 2em;
    overflow: hidden;
    outline: none;
    font-weight: bold;
}

.searchText {
    border: none;
    width: 25em;
    height: 36px;
    font-family: 'nevisbold';
    background-color: white;
    color: black;
    border: none;
    outline: none;
}

.searchText a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.searchContent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.questionContainer {
    display: inline-block;
    margin-left: 5em;
    margin-top: 1em;
    width: 90%;
}

.answerContainer {
    display: inline-block;
    margin-left: 5em;
    margin-top: 1em;
    width: 90%;
}

.questionView {
    position: relative;
    border-radius: 1em;
    padding: 10px;
    box-shadow: 0px 1px 3px #555;
    margin-bottom: 0.5em;
    z-index: auto;
}

.questionView::after, .answerView::after {
    content: "";
    clear: both;
    display: table;
}

.questionView:hover {
    background-color: lightgray;
    cursor: pointer;
    border-radius: 1em;
}

.answerView {
    position: relative;
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 0.5em;
    background-color: #1c6190;
}

.chatTail {
    position: absolute;
    margin-left: -24px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #1c6190;
    transform: rotate(45deg);
}

.profilePic img {
    float: left;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;
    border-radius: 50%;
}

.question {
    font-size: 0.5em;
}

.questionBy {
    float: right;
    color: #999;
    font-size: 0.8em;
}

.answerBy {
    float: right;
    color: white;
    font-size: 0.8em;
}

.questionTime {
    float: left;
    color: #999;
    font-size: 0.8em;
}

.answerTime {
    float: left;
    color: white;
    font-size: 0.8em;
}

.questionAnswers {
    float: right;
    top: 0;
    right: 0;
    color: #999;
}

.likeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 1.5em;
    margin-right: 1em;
}

.likeBtn img {
    width: 24px;
    height: 24px;
}

.likeBtn img:active {
    width: 28px;
    height: 28px;
}

.askButton {
    float: right;
    background-color: #1c6190;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 2em;
    margin-right: 1em;
    height: 2em;
    width: 10em;
}

.ansButton {
    float: right;
    background-color: #1c6190;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 2.3em;
    width: 8em;
    margin-right: 2em;
}

.cardDescription {
    font-size: 0.75em;
    padding: .5rem;
    line-height: 1.6em;
    color: black;
}

.domainHeader {
    width: 100%;
    height: 2.5em;
    color: white;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2em;
    padding: 0;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.cardContainer {
    margin: 1em;
    display: grid;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 3em;
}

/*.card:hover {
    transform: scale(1.1);
    transition: all 500ms;
    cursor: pointer;
}*/

.card:hover {
    background-color: lightgray;
    cursor: pointer;
}

.questionHeader {
    background-color: lightgray;
}


.spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

spinner img{
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {
    .navbar a{
        font-size: 0.75em;
    }

    .cardContainer {
        margin: 0.5em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
        grid-gap: 1em;
    }

    .logoBtn{
        margin-left: 0px;
        margin-right: 0px;
    }

    .cardDescription {
        line-height: 1em;
        font-size: 0.5em;
    }

    .progressBar {
        font-size: 0.85em;
    }

    .domain {
        float: left;
        font-size: 1rem;
        margin: 0;
    }

    .searchText {
        width: 10em;
    }

    .searchBtnHolder{
        margin-left: 0em;
        justify-content: flex-start;
    }

    .questionContainer, .answerContainer {
        display: inline-block;
        font-size: 0.8em;
        margin: 0.5em 0.5em;
        width: 95%;
    }

    .answerContainer {
        display: inline-block;
        font-size: 0.8em;
        margin-left: 2em;
        margin-right: 2em;
        width: 90%;
    }
       
    .questionView, .answerView {
        font-size: 1em;
    }

    .questionBy, .answerBy {
        font-size: 0.5em;
    }

    .question {
        font-size: 0.5em;
    }

    .questionTime, .answerTime {
        font-size: 0.5em;
    }

    .askButton {
        height: 2.5em;
        width: 8em;
        font-size: 0.8em;
        float: right;
        margin-right: 0.25em;
        margin-left: 0.5em;
    }

    .domainDropdownHolder{
        margin-left: 5px;
    }

    .domainDropdown {
        height: 2.5em;
        width: 12em;
        font-size: 0.8em;
    }

    .topnav-left {
        display: none;
    }

    .card {
        border-radius: 0.5em;
    }

    .domainHeader {
        font-size: 1em;
    }

    .card:hover {
        transform: none;
    }

    .listBtn {
        display: flex;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .ansButton {
        font-size: 0.8em;
        margin-right: 0.5em;
        height: auto;
    }

    .domainAnswerBanner {
        margin-top: 4em;
        width: 90%;
        font-size: 0.8em;
    }

    .questionDetailTime {
        margin-top: 1em;
        margin-right: 1em;
    }
}