body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.homeHeader {
    text-align: center;
    color: #1c6190;
    margin: -10px;
}

.navbar {
    overflow: hidden;
    background-color: #1c6190;
    width: auto;
    display: block;
    align-items: center;
}

    .navbar a {
        font-size: 1rem;
        color: white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
    }

.topnav-left {
    margin-left: 5px;
    float: left;
    margin-right: 20px;
}

.topnav-right {
    color: white;
    float: right;
    margin-right: 1em;
    font: bolder;
}

    .topnav-right img {
        float: right;
        max-width: 40px;
        margin-right: 5px;
        border-radius: 50%;
    }

.card {
    box-shadow: 0px 1px 5px #555;
    background-color: #FBFBFD;
    /*background-image: url("../images/arts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.domain {
    float: left;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-left: 2em;
}

.domainBanner {
    box-shadow: 0px 1px 5px #555;
    background-color: #EEEEEE;
    overflow: hidden;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.domainAnswerBanner {
    box-shadow: 0px 1px 5px #555;
    background-color: #EEEEEE;
    overflow: hidden;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchText {
    border: none;
    width: 30em;
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.questionContainer {
    display: inline-block;
    margin-left: 5em;
    margin-top: 1em;
    width: 90%;
}

.questionView {
    padding: 10px;
    margin: 10px 0;
}

    .questionView::after {
        content: "";
        clear: both;
        display: table;
    }

    .questionView:hover {
        background-color: lightgray;
        border-radius: 1em;
        cursor: pointer;
    }

    .questionView img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

.question {
    font-size: 0.5em;
}

.questionBy {
    float: right;
    color: #999;
}

.questionTime {
    float: left;
    color: #999;
}

.askButton {
    float: right;
    background-color: #1c6190;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 2em;
    margin-right: 1em;
    height: 2em;
    width: 10em;
}

.ansButton {
    float: right;
    background-color: #1c6190;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 2.3em;
    width: 10em;
    margin-right: 1em;
}

.cardDescription {
    padding: .5rem;
    line-height: 1.6em;
    color: darkslategray;
}

.domainHeader {
    width: 100%;
    height: 2.5em;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #1c6190;
    font-size: 1em;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.cardContainer {
    margin: 1em;
    display: grid;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 3em;
}

.card:hover {
    /*transform: scale(1.1);
    transition: all 500ms;*/
    background-color: lightgray;
    cursor: pointer;
}

.questionHeader {
    background-color: lightgray;
}

.answerContainer {
    margin-top: 2em;
    display: inline-block;
    width: 90%;
    margin-left: 5em;
    border-bottom: thin;
}

.answerView {
    padding: 10px;
    margin: 5px 0;
}

.spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.answerView img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .navbar {
        top: 0;
        background-color: #1c6190;
        width: 100%;
    }

    .cardContainer {
        margin: 0.5em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
        grid-gap: 1em;
    }

    .cardDescription {
        line-height: 1em;
        font-size: 0.75em;
    }

    .progressBar {
        font-size: 0.85em;
    }

    .domain {
        float: left;
        font-size: 1rem;
        margin: 0;
    }

    .domainBanner {
        background-color: #EEEEEE;
        overflow: hidden;
        width: auto;
    }

    .searchText {
        width: 10em;
        height: 1.5em;
    }

    .questionContainer, .answerContainer {
        display: inline-block;
        margin: 0.5em 0.5em;
        width: 95%;
    }

    .questionView, .answerView {
        padding: 5px;
        margin: 5px 0;
        font-size: 1em;
    }

    .questionBy {
        float: right;
        color: #999;
        font-size: 0.5em;
    }

    .question {
        font-size: 0.5em;
    }

    .questionTime {
        float: left;
        color: #999;
        font-size: 0.5em;
    }

    .askButton {
        margin-left: 1em;
        height: 2.5em;
        width: 8em;
        font-size: 0.8em;
    }

    .domainAnswerBanner {
        box-shadow: 0px 1px 5px #555;
        background-color: #EEEEEE;
        overflow: hidden;
        width: auto;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .ansButton {
        float: right;
        background-color: #1c6190;
        color: white;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        margin-left: 1em;
        height: 2.5em;
        width: 8em;
        font-size: 0.8em;
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }
}
