.background {
    background-image: url("../images/background_image_home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.dataHeader {
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    color: lightyellow;
}

.intro {
    margin-top: 2em;
    text-align: center;
    color: #1c6190;
}

.intro img {
    max-height: 100px;
    max-width: 150px;
    border-radius: 0.5em;
}

.introSubHeader {
    text-align: center;
    color: black;
}

.loginHeader {
    margin-top: 5em;
    text-align: center;
    color: #1c6190;
}

.loginBtnWrapper {
    text-align: center;
}

.loginBtn {
    margin: auto;
    display: block;
    background-color: white;
    color: #1c6190;
    font-size: 1em;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-shadow: 0px 1px 5px #C0C0C0;
    text-align: center;
    border-radius: 5px;
}

.loginBtn:visited {
    background-color: #1c6190;
    color: white;
        
}

.loginBtn:focus {
    background-color: #1c6190;
    color: white;
}

.loginBtn:hover {
    background-color: #1c6190;
    color: white;
}

.loginBtn img{
    width: 25px;
    height: 25px;
}

.header {
    color: #33b5e5;
    text-align: center;
}

.odometer {
    font-size: 3rem;
    text-align: right;
    color: black;
    width: 5em;
}

hr {
    border: thick;
    border-top: 1px solid;
    color: #fff;
    background-color: lightgrey;
    height: 1px;
    width: 30em;
}


@media (max-width: 800px) {
    .dataHeader {
        margin-top: 2.5rem;
        text-align: center;
        font-size: 2rem;
        color: lightyellow;
    }

    hr {
        border: thick;
        border-top: 1px solid;
        color: #fff;
        background-color: lightgrey;
        height: 1px;
        width: 20em;
    }
}